<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Catálogo de Productos{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-4">
      <h1 class="text-center">Lista de Productos</h1>

      <form
        name="formSearch"
        method="POST"
        action="{{ url_for('buscar_producto') }}"
        class="search mb-4"
        autocomplete="off"
      >
        <div class="input-group">
          <input
            type="search"
            name="buscar"
            class="form-control"
            placeholder="Buscar por nombre, tipo o marca"
            required
          />
          <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
      </form>

      <div
        class="modal fade"
        id="agregarModal"
        tabindex="-1"
        aria-labelledby="agregarModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="agregarModalLabel">
                Agregar Producto
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              <form
                action="/agregar"
                method="POST"
                class="mb-6"
                enctype="multipart/form-data"
              >
                <input
                  type="text"
                  name="nombre"
                  class="w-full p-3 mb-4 border border-gray-300 rounded"
                  placeholder="Nombre del producto"
                  required
                />
                <input
                  type="number"
                  name="precio"
                  class="w-full p-3 mb-4 border border-gray-300 rounded"
                  placeholder="Precio"
                  required
                />
                <input
                  type="text"
                  name="tipo"
                  class="w-full p-3 mb-4 border border-gray-300 rounded"
                  placeholder="Tipo de producto"
                  required
                />
                <textarea
                  name="descripcion"
                  class="w-full p-3 mb-4 border border-gray-300 rounded"
                  placeholder="Descripción del producto"
                ></textarea>
                <input
                  type="number"
                  name="cantidad"
                  class="w-full p-3 mb-4 border border-gray-300 rounded"
                  placeholder="Cantidad disponible"
                  required
                />
                <input
                  type="text"
                  name="marca"
                  class="w-full p-3 mb-4 border border-gray-300 rounded"
                  placeholder="Marca"
                />
                <input
                  type="date"
                  name="fecha_ingreso"
                  class="w-full p-3 mb-4 border border-gray-300 rounded"
                />
                <input
                  type="text"
                  name="imagen_url"
                  class="w-full p-3 mb-4 border border-gray-300 rounded"
                  placeholder="URL de la imagen"
                />
                <button
                  type="submit"
                  class="w-full bg-blue-500 text-white p-3 rounded"
                >
                  Agregar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% block content %} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
